package net;

# Configure these for your local system
$httpserver  = "localhost:8529";
$perldir      = "/perl";
#######################################

{
    package main;
    sub test { print $_[1] ? "ok $_[0]\n" : "not ok $_[0]\n" }
    # avoid -w warning
    sub dummy_sub { return($net::httpserver, $net::perldir) };
}
  
1;
